.turtai {
  // turinio isdestymas
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 100px;

  // saraso isdestymas
  .turtai-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;
    padding: 50px;
  }
  // saraso fonas ir raides
  .vienas-turtas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("./img/img.jpg");
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    color: #234d4f;
    text-align: center;
    font-weight: bold;
    // viduje esancios raides
    .naujas-turtas {
      color: #234d4f;
    }
    // viduje esancios raides
    span {
      color: #a55a86;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
    }
  }
  // add new lentele
  .inputs-turtas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    background-image: url("./img/img.jpg");
    background-size: cover;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    color: #234d4f;
    h2 {
      display: flex;
      justify-content: center;
    }
    .inputs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: space-between;
    }
    span {
      color: #a55a86;
      padding: 15px;
    }
  }
  // modalo fonas
  .modal {
    position: absolute;
    background-image: url(./img/img3.jpg);
    background-size: cover;
    border-radius: 50px;

    // modalo mygtukai
    .btn {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-basis: auto;
    }
    // modalo viduriai
    .nauja {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      padding: 20px;
      text-transform: uppercase;
      font-weight: bold;
      background-repeat: no-repeat;
      background-size: cover;

      .nauja-vel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin-top: 10px;
        margin-bottom: 30px;
        span {
          display: flex;
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          padding: 10px;
          color: white;
        }
      }
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    background-image: url("./img/img.jpg");
    background-size: cover;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
    color: #234d4f;
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      padding: 15px;
    }
    .belekas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      padding: 0 10px;
    }
  }
  button {
    display: block;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 1px;
    height: 38px;
    width: 120px;
    line-height: 38px;
    overflow: hidden;
    background-color: #a55a86;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(black, 0.1);
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 7px;
    color: #fff;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .turtai,
  .turtai-list,
  .vienas-turtas,
  .nav,
  .modal,
  .inputs-turtas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .turtai-list,
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .turtai-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .turtai-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   .turtai-list {
//     background: pink;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     justify-items: center;
//     align-items: center;
//     flex-wrap: wrap;
//     align-content: space-between;
//   }
// }
