@import "./App.scss";
@import "./exam.scss";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  max-width: fit-content;
  background-color: #eac8d3;
  min-width: fit-content;
}
